@font-face {
  font-display: swap; 
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/archivo/archivo-v19-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/archivo/archivo-v19-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/archivo/archivo-v19-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/archivo/archivo-v19-latin-700.woff2') format('woff2');
}

 /* :root {
  --bg: #000000;
  --black-02: rgba(0, 0, 0, 0.2);
  --font: rgba(255,255,255, 1);
  --font-weak: rgba(255, 255, 255, 0.5);
  --disabled: rgba(75, 75, 75, 1);
  --bg-2: rgba(10, 10, 10, 1.0);
  --bg-3: rgba(20, 20, 20, 1.0);
  --bg-btn: rgba(15, 15, 15, 1);
  --main-01: rgba(123, 59, 252, 0.1);
  --main-001: rgba(123, 59, 252, 0.01);
  --main-06: rgba(123, 59, 252, 0.6);
  --main: rgba(123, 59, 252, 1);
  --border: rgba(32, 33, 37);
  --green: rgba(127, 255, 0, 1);
  --yellow: rgba(231, 255, 80, 1);
} */

:root {
    --bg: rgba(255,255,255, 1);
    --black-02: rgba(240, 240, 240, 0.2);
    --font: rgba(45, 45, 45, 1);
    --font-weak: rgba(0, 0, 0, 0.6);
    --disabled: rgba(245, 245, 245, 0.2);
    --bg-2: rgb(230, 230, 230, 0.2);
    --bg-2h: rgb(230, 230, 230, 0.4);
    --bg-3: rgba(200, 200, 200, 0.2);
    --bg-btn: rgba(255, 255, 255, 1);
    --main-01: rgba(39, 94, 254, 0.1);
    --main-001: rgba(39, 94, 254, 0.01);
    --main-05: rgba(39, 94, 254, 0.5);
    --main-06: rgba(39, 94, 254, 0.6);
    --scroll: rgb(0, 0, 0, 0.1);
    --scroll-2: rgb(0, 0, 0, 0.2);
    --main: rgb(39, 94, 254, 1);
    --main-dark: rgb(24, 79, 238, 1);
    --main-darker: rgb(20, 74, 204, 1);
    --border: rgb(230, 230, 230, 1);
    --green: rgba(1, 212, 73, 1);
    --pink: rgb(255, 0, 129);
  }

* {
  box-sizing: border-box;
}

body {
    font-family: 'Archivo', "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--font);
    font-size: 16px;
}

body {
    scrollbar-width: auto;
    scrollbar-color: var(--main-01), transparent;
}

.footerinfo {
    margin-bottom: 1rem;
}

#webnn-logo {
    width: 150px;
    height: 30px;
    display: inline-block;
    margin: 0 6px 0 10px;
}

.log-output::-webkit-scrollbar {
    width: 3px !important;
    height: 3px !important;
}

.log-output::-webkit-scrollbar-track {
    background: var(--main-001);
}

.log-output::-webkit-scrollbar-thumb {
    background-color: var(--scroll);
    border-radius: 5px;
    border: 3px solid transparent;
}

.log-output:hover::-webkit-scrollbar-thumb {
    background-color: var(--scroll-2);
}

textarea::-webkit-scrollbar {
    width: 3px !important;
    height: 3px !important;
}

textarea::-webkit-scrollbar-track {
    background: var(--main-001);
}

textarea::-webkit-scrollbar-thumb {
    background-color: var(--scroll);
    border-radius: 5px;
    border: 3px solid transparent;
}

textarea:hover::-webkit-scrollbar-thumb {
    background-color: var(--scroll-2);
}

.left::-webkit-scrollbar {
    width: 3px !important;
    height: 3px !important;
}

.left::-webkit-scrollbar-track {
    background: var(--main-001);
}

.left::-webkit-scrollbar-thumb {
    background-color: var(--scroll);
    border-radius: 5px;
    border: 3px solid transparent;
}

.left:hover::-webkit-scrollbar-thumb {
    background-color: var(--scroll-2);
}

h1 {
    padding: 0 0 0 0;
    font-weight: 700;
    font-size: 1.8rem;
    margin: 0;
}

h1.title {
    display: flex;
    align-items: center;
}

h1.title span {
    margin-right: 5px;
}

.title_error {
    display: flex;
    flex-direction: row;
}

#back {
    width: 24px;
    height: 24px;
    border-radius: 48px;
    border: 1px solid var(--main-05);
    display: grid;
    align-items: center;
    justify-items: center;
}

#back svg {
    width: 20px;
    height: 20px;
}

#back svg path {
    fill: var(--main-05);
}

#back:hover {
    border: 1px solid var(--main);
    background: linear-gradient(135deg, var(--main) 0%, var(--main-dark) 40%, var(--main-darker) 100%);
    color: var(--bg);
    box-shadow: 0 3px 15px -1px var(--main-05);
    cursor: pointer;
}

#back:hover svg path {
    fill: var(--bg);
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: stretch;
}

.left {
    flex-direction: column;
    padding: 10px 20px;
    background-color: var(--bg);
    border-right: 1px solid var(--border);
    overflow-y: scroll;
}

.left:hover {
  background: var(--bg-2);
}

.right {
    align-self: stretch;
    justify-self: stretch;
    background: var(--bg-2);
}

.right:hover {
    background: var(--bg-2h);
}

.right div {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100%;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.input-group input, .input-group textarea {
    font-size: 1rem;
    width: 100%;
    padding: 8px 8px;
    border: 1px solid var(--border);
    color: var(--font);
    background-color: var(--bg-2);
    border-radius: 5px;
    font-family: 'Archivo', "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.input-group input:focus,  .input-group textarea:focus,
.input-group input:hover,  .input-group textarea:hover {
    color: var(--main-dark);
    border: 1px solid var(--main);
    outline: none;
    background-color: var(--black-02);
}

#negative_prompt {
    height: 32px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button-group svg {
	width: 18px; 
	height: 18px;
	margin-right: 2px;
	margin-bottom: -4px;
}

#negative_prompt {
    margin-top: -6px;
}

.options {
    margin-bottom: 10px;
    margin-top: -6px;
}

.options button {
	font-size: 1.1rem;
	background: transparent;
	border: 1px solid var(--border);
	padding: 6px 8px;
    border-radius: 5px;
	cursor: pointer;
	color: var(--font);
}

#user_seed {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#change_seed {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0px solid transparent;
    margin-left: -1px;
}

.options button svg {
    height: 18px;
    width: 18px;
    margin: 2px 1px;
}

.options button svg path {
    fill: var(--font);
}

.options button:hover svg path {
    fill: var(--bg);
}

.seed:hover #user_seed, .seed:hover #change_seed {
    border: 1px solid var(--main) !important;
}

.seed:hover #change_seed {
    border-left: 0px solid transparent;
}

#change_seed:hover {
    background: var(--main);
	border: 1px solid var(--border);
    background: linear-gradient(135deg, var(--main) 0%, var(--main-dark) 40%,  var(--main-darker) 100%);
}

.key button {
	border-radius: 50px;
	font-size: 1rem;
	/* background: var(--bg);
    color: var(--main-dark);
	border: 3px solid var(--main); */
	padding: 8px 24px;
	cursor: pointer;
    background: var(--main);
	border: 1px solid var(--main);
    background: linear-gradient(135deg, var(--main) 0%, var(--main-dark) 40%,  var(--main-darker) 100%);
    color: var(--bg);
    font-family: "Archivo", system-ui, sans-serif;
    text-shadow: var(--main-darker) 1px 2px 1px;
}

.key button:hover {
	background: var(--main-dark);
	border: 1px solid var(--main-dark);
    color: var(--bg);
    background: linear-gradient(135deg, var(--main-dark) 0%, var(--main-darker) 40%,  var(--main-darker) 100%);
    box-shadow: 0 3px 15px -1px var(--main-05);
}

.key button:disabled {
	--active: 0;
	cursor: not-allowed;
	color: var(--border);
	background-color: var(--disabled);
    background: var(--disabled);
	border: 1px solid var(--border);
    text-shadow: none;
}

.key button svg path {
	fill: var(--bg);
}

.key button:hover svg path {
	fill: var(--bg);
}

.key button:disabled svg path {
	fill: var(--border);
}

.key button:disabled:hover {
	background: var(--disabled);
	border: 1px solid var(--border);
    box-shadow: none;
}

.key button:disabled:hover svg path {
	fill: var(--border);
}

.progress-bar {
    width: 100%;
    height: 2px;
    background-color: var(--border);
    overflow: hidden;
    border-radius: 10px;
}

.progress-bar-inner {
    height: 100%;
    background-color: var(--main);
    width: 0;
    transition: width 0.3s ease-in-out;
}

.progress:hover {
    color: var(--main);
}

.progress:hover .progress-bar-inner {
    height: 2px;
    background-color: var(--main);
}

.progress-bar-label {
    margin: 10px;
    font-size: 0.9rem;
    text-align: center;
}

.log-output {
    height: 22vh;
    padding: 10px 10px;
    background-color: var(--bg-2);
    border: 1px solid var(--border);
    font-size: 0.9rem;
    border-radius: 5px;
    display: flex; 
    flex-direction: column-reverse;
    overflow-y: scroll;
}

.log-output:hover {
    border: 1px solid var(--main);
    background-color: var(--bg-btn);
}

.canvas {
    max-width: 100%;
    max-height: 100%;
    align-self: center;
}

.loading-image {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
    border: 1px solid var(--border);
}

.loading-text {
    font-size: 1.1rem;
    text-align: center;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    align-items: center;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
}

.grid-4-41 {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
}

#change_seed {
    cursor: pointer;
}

.tokeninfo, #error {
    justify-self: right;
}

.tokeninfo {
    font-size: 0.9rem;
    text-align: right;
    color: var(--font-weak);
}

.tokeninfo span {
    display: inline-block;
    width: 120px;
    position: relative;
    bottom: 24px;
    margin-right: 8px;
}

.negative {
    top: -23px;
}

#error {
    align-self: center;
}

.error {
    background-color: var(--pink);
    color: var(--bg);
    font-size: 0.9rem;
    border-radius: 50px;
    padding: 6px 12px;
}

.v1 {
    padding: 1rem 20px;
    border-bottom: 1px solid var(--border);
}

.v9 {
    height: 92vh;
}

#webnnstatus {
    text-align: right;
    font-size: 0.9rem;
    margin-top: 10px;
}

#webnnstatus #circle {
    width: 8px;
    height: 8px;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 1px;
}

#webnnstatus.green {
    color: var(--font);
}

#webnnstatus.red {
    background-color: var(--pink);
    color: var(--bg);
    border-radius: 50px;
    padding: 4px 12px;
}

#webnnstatus.green #circle {
    background-color:var(--green);
}

#webnnstatus.red #circle {
    background-color: var(--bg);
}

#ortversion {
    font-size: 0.9rem;
    text-align: right;
}

#ortversion a {
    color: var(--font);
    text-decoration: none;
}

#ortversion a:hover {
    color: var(--green);
    text-decoration: underline;
}

#data {
    border: 1px solid var(--border);
    margin-top: 10px;
    border-radius: 5px;
}

#data:hover {
    border: 1px solid var(--main);
    color: var(--bg);
}

#data table {
    font-size: 0.9rem;
    text-align: center;
    margin: 0;
    border-collapse: collapse;
}

#data tr th, #data tr td {
    text-align: center;
}

#data tr th {
    font-weight: 600;
    padding: 6px 8px;
}

#data tr td {
    padding: 4px 8px;
}

#data tr:nth-child(odd) {
  background-color: transparent;
}

#data tr:nth-child(even) {
  background-color: var(--bg);
}

#data tr:hover th, #data tr:hover td {
    background-color: var(--main-dark);
    color: var(--bg);
}

#data .category, #data .load {
    width: 118px;
}

#data .run {
    width: calc(50vw - 512px);
}

#totalrun {
    color: var(--green);
}

.hide {
    display: none;
}

.show {
    display: block;
}

.flex-2{
    display: flex;
    flex-direction: row;
    color: var(--font);
}

/* Largest devices such as desktops (1280px) */
@media only screen and (max-width: 80em) {

}

/* Large devices such as laptops (1024px) */
@media only screen and (max-width: 64em) {
    .grid-4 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .grid-2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 10px;
    }
}

@media only screen and (max-width: 718px) {
 
    .grid-4 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .grid-2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 10px;
    }

    .v1 {
        padding: 1rem;
    }
    
    .v9 {
        padding: 1rem;
        height: auto;
    }

    .footerinfo {
        margin-bottom: 0;
    }

    h1 {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 40em) {
    .grid-2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 10px;
    }
    .grid-4 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .v1 {
        padding: 1rem;
    }
    
    .v9 {
        padding: 1rem;
        height: auto;
    }

    .footerinfo {
        margin-bottom: 0;
    }

    h1 {
        font-size: 0.9rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        color: var(--font);
        row-gap: 10px;
    }

    .flex-2 {
        display: block;
    }

    .left, .right {
        padding: 0px;
    }

    .left {
        border-right: 0px solid transparent;
        overflow-y: hidden;
    }

    .progress {
        width: 100%;
    }
}
 