@font-face {
  font-display: swap; 
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/archivo/archivo-v19-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/archivo/archivo-v19-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/archivo/archivo-v19-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/archivo/archivo-v19-latin-700.woff2') format('woff2');
}

:root {
    --bg: rgba(255,255,255, 1);
    --black-02: rgba(240, 240, 240, 0.2);
    --font: rgba(45, 45, 45, 1);
    --font-weak: rgba(0, 0, 0, 0.6);
    --disabled: rgba(245, 245, 245, 0.2);
    --bg-2: rgb(230, 230, 230, 0.2);
    --bg-2h: rgb(230, 230, 230, 0.4);
    --bg-3: rgba(200, 200, 200, 0.2);
    --bg-btn: rgba(255, 255, 255, 1);
    --main-01: rgba(39, 94, 254, 0.1);
    --main-001: rgba(39, 94, 254, 0.01);
    --main-005: rgba(39, 94, 254, 0.05);
    --main-05: rgba(39, 94, 254, 0.5);
    --main-06: rgba(39, 94, 254, 0.6);
    --scroll: rgb(0, 0, 0, 0.1);
    --scroll-2: rgb(0, 0, 0, 0.2);
    --main: rgb(39, 94, 254);
    --main-dark: rgb(24, 79, 238, 1);
    --main-darker: rgb(20, 74, 204, 1);
    --border: rgb(230, 230, 230, 1);
    --green: rgba(1, 212, 73, 1);
    --pink: rgb(255, 0, 129);
  }

* {
  box-sizing: border-box;
}

body {
    font-family: 'Archivo', "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    color: var(--font);
    font-size: 16px;
}

body {
    scrollbar-width: auto;
    scrollbar-color: var(--main-01), transparent;
}

#placeholder {
    align-content: center;
    height: 480px;
    width: 480px;
}

#placeholder.none, #placeholder .none {
    display: none;
}

#sam-decoder-indicator {
    padding: 4px 18px;
    background-color: var(--pink);
    color: var(--bg);
    transform: skew(-15deg);
    border-radius: 5px;
}

#sam-decoder-indicator.none {
    display: none;
}

#webnn-logo {
    width: 150px;
    height: 30px;
    display: inline-block;
    margin: 0 6px 0 10px;
}

.log-output::-webkit-scrollbar {
    width: 3px !important;
    height: 3px !important;
}

.log-output::-webkit-scrollbar-track {
    background: var(--main-001);
}

.log-output::-webkit-scrollbar-thumb {
    background-color: var(--scroll);
    border-radius: 5px;
    border: 3px solid transparent;
}

.log-output:hover::-webkit-scrollbar-thumb {
    background-color: var(--scroll-2);
}

textarea::-webkit-scrollbar {
    width: 3px !important;
    height: 3px !important;
}

textarea::-webkit-scrollbar-track {
    background: var(--main-001);
}

textarea::-webkit-scrollbar-thumb {
    background-color: var(--scroll);
    border-radius: 5px;
    border: 3px solid transparent;
}

textarea:hover::-webkit-scrollbar-thumb {
    background-color: var(--scroll-2);
}

h1 {
    padding: 0 0 0 0;
    font-weight: 700;
    font-size: 1.8rem;
    margin: 0;
}

h1.title {
    display: flex;
    align-items: center;
}

h1.title span {
    margin-right: 5px;
}

#back {
    width: 24px;
    height: 24px;
    border-radius: 48px;
    border: 1px solid var(--main-05);
    display: grid;
    align-items: center;
    justify-items: center;
}

#back svg {
    width: 20px;
    height: 20px;
}

#back svg path {
    fill: var(--main-05);
}

#back:hover {
    border: 1px solid var(--main);
    background: linear-gradient(135deg, var(--main) 0%, var(--main-dark) 40%, var(--main-darker) 100%);
    color: var(--bg);
    box-shadow: 0 3px 15px -1px var(--main-05);
    cursor: pointer;
}

#back:hover svg path {
    fill: var(--bg);
}

.progress {
    padding: 1px;
    background-color: var(--main-005);
    border-radius: 10px;
  }

#progress-info {
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
}

.progress-bar {
    height: 8px;
    border-radius: 10px;
    width: 0%;
    transition: 0.4s linear;
    transition-property: width, background-color;
}

.progress-striped .progress-bar {
    background-color: var(--main-05);
    background-image: linear-gradient(45deg, var(--main-06) 25%, transparent 25%, transparent 50%, var(--main-06) 50%, var(--main-06) 75%, transparent 75%, transparent);
}

.right {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.file-upload {
	position: relative;
	display: inline-block;
}

.file-upload_label {
  display: inline-block;
}
    
.file-upload_input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width:0;
    height: 100%;
    opacity: 0;
}

.form-group {
    display: inline-block;
}

#action-bar {
    margin: 2rem auto 0 auto;
}

.form-group button, .form-group label {
    display: inline-block;
    border: 1px solid var(--border);
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 50%;
    background-color: transparent;
}

.form-group button svg path, .form-group label svg path {
    fill: var(--font);
}

.form-group button:hover, .form-group label:hover {
    color: var(--main);
    border: 1px solid var(--main);
    background-color: var(--main-001);
    cursor: pointer;
}

.form-group button:hover svg path, .form-group label:hover svg path {
    fill: var(--main);
}

#action-bar.disable .form-group button svg path, #action-bar.disable .form-group label svg path {
    fill: var(--border);
}

#action-bar.disable .form-group button:hover, #action-bar.disable .form-group label:hover {
    border: 1px solid var(--border);
}

.log-output {
    height: 18vh;
    padding: 10px 10px;
    background-color: var(--bg-2);
    border: 1px solid var(--border);
    font-size: 0.9rem;
    border-radius: 5px;
    display: flex; 
    flex-direction: column-reverse;
    overflow-y: scroll;
}

.log-output:hover {
    border: 1px solid var(--main);
    background-color: var(--bg-btn);
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

}

.data strong {
    font-size: 600%;
}

.data span {
    font-size: 228%;
}

.data .title {
    display: block;
}

#error {
    align-self: center;
}

.error {
    background-color: var(--pink);
    color: var(--bg);
    font-size: 0.9rem;
    border-radius: 50px;
    padding: 6px 12px;
}

.v1 {
    padding: 1rem 40px;
    border-bottom: 1px solid var(--border);
}

.v9 {
    padding: 0 40px;
}

#webnnstatus {
    text-align: right;
    font-size: 0.9rem;
    margin-top: 10px;
}

#webnnstatus #circle {
    width: 8px;
    height: 8px;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 1px;
}

#webnnstatus.green {
    color: var(--font);
}

#webnnstatus.red {
    background-color: var(--pink);
    color: var(--bg);
    border-radius: 50px;
    padding: 4px 12px;
}

#webnnstatus.green #circle {
    background-color:var(--green);
}

#webnnstatus.red #circle {
    background-color: var(--bg);
}

#ortversion {
    font-size: 0.9rem;
    text-align: right;
}

#ortversion a {
    color: var(--font);
    text-decoration: none;
}

#ortversion a:hover {
    color: var(--green);
    text-decoration: underline;
}

#webnnstatus a {
    color: var(--main);
    text-decoration: none;
}

#webnnstatus a:hover {
    color: var(--green);
    text-decoration: underline;
}

#webnnstatus #circle.none {
    display: none;
}

.magicpattern { 
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1400%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath fill=%22%23fff%22 d=%22M0 0h2000v1400H0z%22%2F%3E%3Cellipse cx=%22212.191%22 cy=%2236.506%22 rx=%221.837%22 ry=%221.465%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.394%22%2F%3E%3Cellipse cx=%22314.402%22 cy=%2255.228%22 rx=%221.53%22 ry=%221.155%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.185%22%2F%3E%3Cellipse cx=%22655.849%22 cy=%226.14%22 rx=%221.168%22 ry=%221.108%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.598%22%2F%3E%3Cellipse cx=%22832.256%22 cy=%2237.836%22 rx=%222.151%22 ry=%221.772%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.378%22%2F%3E%3Cellipse cx=%221060.076%22 cy=%2250.941%22 rx=%221.742%22 ry=%221.275%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.085%22%2F%3E%3Cellipse cx=%221182.118%22 cy=%2214.447%22 rx=%222.084%22 ry=%221.707%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.122%22%2F%3E%3Cellipse cx=%221386.414%22 cy=%2247.602%22 rx=%221.714%22 ry=%221.276%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.134%22%2F%3E%3Cellipse cx=%221717.148%22 cy=%223.635%22 rx=%221.566%22 ry=%221.519%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.262%22%2F%3E%3Cellipse cx=%221947.463%22 cy=%225.78%22 rx=%221.433%22 ry=%221.283%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.712%22%2F%3E%3Cellipse cx=%22104.111%22 cy=%22115.001%22 rx=%221.702%22 ry=%221.34%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.506%22%2F%3E%3Cellipse cx=%22271.934%22 cy=%2287.51%22 rx=%221.988%22 ry=%221.717%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.065%22%2F%3E%3Cellipse cx=%22502.039%22 cy=%2268.621%22 rx=%221.559%22 ry=%221.216%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.377%22%2F%3E%3Cellipse cx=%22797.111%22 cy=%2270.457%22 rx=%221.362%22 ry=%221.291%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.425%22%2F%3E%3Cellipse cx=%221093.177%22 cy=%22119.238%22 rx=%221.517%22 ry=%221.168%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.199%22%2F%3E%3Cellipse cx=%221297.705%22 cy=%2295.435%22 rx=%222.146%22 ry=%221.847%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22-.076%22%2F%3E%3Cellipse cx=%221354.263%22 cy=%2296.086%22 rx=%221.459%22 ry=%221.446%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.245%22%2F%3E%3Cellipse cx=%221557.671%22 cy=%2268.518%22 rx=%221.487%22 ry=%221.205%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22-.019%22%2F%3E%3Cellipse cx=%221813.598%22 cy=%22119.14%22 rx=%222.039%22 ry=%221.864%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.815%22%2F%3E%3Cellipse cx=%22194.381%22 cy=%22163.537%22 rx=%221.603%22 ry=%221.588%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22-.014%22%2F%3E%3Cellipse cx=%22242.047%22 cy=%22156.309%22 rx=%221.961%22 ry=%221.693%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.693%22%2F%3E%3Cellipse cx=%22571.192%22 cy=%22135.71%22 rx=%221.469%22 ry=%221.303%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.834%22%2F%3E%3Cellipse cx=%22702.167%22 cy=%22177.14%22 rx=%221.658%22 ry=%221.646%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.65%22%2F%3E%3Cellipse cx=%221057.919%22 cy=%22153.177%22 rx=%222.256%22 ry=%221.898%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.12%22%2F%3E%3Cellipse cx=%221301.304%22 cy=%22143.252%22 rx=%222.212%22 ry=%221.927%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22-.073%22%2F%3E%3Cellipse cx=%221528.244%22 cy=%22178.971%22 rx=%222.243%22 ry=%221.747%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.365%22%2F%3E%3Cellipse cx=%221773.336%22 cy=%22168.431%22 rx=%221.862%22 ry=%221.517%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.288%22%2F%3E%3Cellipse cx=%221914.009%22 cy=%22153.559%22 rx=%221.784%22 ry=%221.421%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.695%22%2F%3E%3Cellipse cx=%2283.381%22 cy=%22204.54%22 rx=%221.79%22 ry=%221.516%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.298%22%2F%3E%3Cellipse cx=%22314.309%22 cy=%22220.4%22 rx=%222.059%22 ry=%221.895%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.392%22%2F%3E%3Cellipse cx=%22551.586%22 cy=%22231.644%22 rx=%221.557%22 ry=%221.109%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.02%22%2F%3E%3Cellipse cx=%22708.132%22 cy=%22229.766%22 rx=%221.617%22 ry=%221.171%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.1%22%2F%3E%3Cellipse cx=%221066.994%22 cy=%22209.389%22 rx=%222.039%22 ry=%221.697%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.105%22%2F%3E%3Cellipse cx=%221287.847%22 cy=%22214.982%22 rx=%221.95%22 ry=%221.658%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.098%22%2F%3E%3Cellipse cx=%221420.168%22 cy=%22210.358%22 rx=%221.418%22 ry=%221.342%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22-.056%22%2F%3E%3Cellipse cx=%221587.486%22 cy=%22243.917%22 rx=%221.792%22 ry=%221.599%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.265%22%2F%3E%3Cellipse cx=%221912.49%22 cy=%22217.252%22 rx=%221.684%22 ry=%221.226%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.224%22%2F%3E%3Cellipse cx=%22199.052%22 cy=%22271.947%22 rx=%221.762%22 ry=%221.313%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.167%22%2F%3E%3Cellipse cx=%22344.665%22 cy=%22258.362%22 rx=%222.194%22 ry=%221.789%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.15%22%2F%3E%3Cellipse cx=%22463.17%22 cy=%22290.78%22 rx=%221.275%22 ry=%221.066%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.129%22%2F%3E%3Cellipse cx=%22730.85%22 cy=%22269.633%22 rx=%221.46%22 ry=%221.126%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.115%22%2F%3E%3Cellipse cx=%221032.458%22 cy=%22290.763%22 rx=%222.396%22 ry=%221.955%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.379%22%2F%3E%3Cellipse cx=%221118.705%22 cy=%22277.673%22 rx=%221.601%22 ry=%221.442%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.507%22%2F%3E%3Cellipse cx=%221430.273%22 cy=%22269.46%22 rx=%221.693%22 ry=%221.203%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.175%22%2F%3E%3Cellipse cx=%221684.963%22 cy=%22263.445%22 rx=%221.814%22 ry=%221.659%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.57%22%2F%3E%3Cellipse cx=%221809.894%22 cy=%22250.016%22 rx=%221.726%22 ry=%221.561%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.868%22%2F%3E%3Cellipse cx=%22142.593%22 cy=%22336.436%22 rx=%221.146%22 ry=%221.135%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.424%22%2F%3E%3Cellipse cx=%22380.915%22 cy=%22316.923%22 rx=%221.506%22 ry=%221.252%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22-.049%22%2F%3E%3Cellipse cx=%22618.417%22 cy=%22309.889%22 rx=%222.019%22 ry=%221.793%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.059%22%2F%3E%3Cellipse cx=%22786.653%22 cy=%22337.782%22 rx=%221.871%22 ry=%221.448%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.667%22%2F%3E%3Cellipse cx=%221093.129%22 cy=%22306.41%22 rx=%221.852%22 ry=%221.549%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.477%22%2F%3E%3Cellipse cx=%221202.914%22 cy=%22351.435%22 rx=%221.655%22 ry=%221.588%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.361%22%2F%3E%3Cellipse cx=%221389.511%22 cy=%22365.526%22 rx=%221.681%22 ry=%221.527%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.022%22%2F%3E%3Cellipse cx=%221615.719%22 cy=%22353.595%22 rx=%222.154%22 ry=%221.839%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.069%22%2F%3E%3Cellipse cx=%221814.701%22 cy=%22363.977%22 rx=%221.418%22 ry=%221.186%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.71%22%2F%3E%3Cellipse cx=%2296.056%22 cy=%22386.588%22 rx=%222.287%22 ry=%221.935%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.631%22%2F%3E%3Cellipse cx=%22286.369%22 cy=%22406.256%22 rx=%221.985%22 ry=%221.948%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.357%22%2F%3E%3Cellipse cx=%22618.923%22 cy=%22415.612%22 rx=%221.707%22 ry=%221.366%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.379%22%2F%3E%3Cellipse cx=%22739.614%22 cy=%22421.167%22 rx=%221.626%22 ry=%221.417%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.589%22%2F%3E%3Cellipse cx=%221070.221%22 cy=%22423.128%22 rx=%221.517%22 ry=%221.264%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.68%22%2F%3E%3Cellipse cx=%221206.77%22 cy=%22366.286%22 rx=%221.397%22 ry=%221.327%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.166%22%2F%3E%3Cellipse cx=%221507.904%22 cy=%22401.236%22 rx=%221.823%22 ry=%221.48%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.699%22%2F%3E%3Cellipse cx=%221649.693%22 cy=%22410.706%22 rx=%221.515%22 ry=%221.424%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22-.089%22%2F%3E%3Cellipse cx=%221808.692%22 cy=%22379.433%22 rx=%221.939%22 ry=%221.513%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22-.086%22%2F%3E%3Cellipse cx=%22191.994%22 cy=%22451.171%22 rx=%222.354%22 ry=%221.861%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.62%22%2F%3E%3Cellipse cx=%22264.069%22 cy=%22477.313%22 rx=%222.085%22 ry=%221.954%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.729%22%2F%3E%3Cellipse cx=%22463.071%22 cy=%22446.584%22 rx=%221.991%22 ry=%221.81%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.57%22%2F%3E%3Cellipse cx=%22740.5%22 cy=%22451.242%22 rx=%221.426%22 ry=%221.35%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.146%22%2F%3E%3Cellipse cx=%221000.693%22 cy=%22466.532%22 rx=%222.172%22 ry=%221.988%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.357%22%2F%3E%3Cellipse cx=%221180.985%22 cy=%22479.063%22 rx=%221.363%22 ry=%221.212%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.396%22%2F%3E%3Cellipse cx=%221454.524%22 cy=%22444.26%22 rx=%221.224%22 ry=%221.114%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22-.036%22%2F%3E%3Cellipse cx=%221581.077%22 cy=%22449.746%22 rx=%222.318%22 ry=%221.865%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22-.08%22%2F%3E%3Cellipse cx=%221904.829%22 cy=%22440.581%22 rx=%221.846%22 ry=%221.724%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.39%22%2F%3E%3Cellipse cx=%22122.185%22 cy=%22546.57%22 rx=%221.175%22 ry=%221.033%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.409%22%2F%3E%3Cellipse cx=%22436.036%22 cy=%22527.473%22 rx=%222.409%22 ry=%221.948%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.465%22%2F%3E%3Cellipse cx=%22649.643%22 cy=%22524.564%22 rx=%221.499%22 ry=%221.009%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22-.1%22%2F%3E%3Cellipse cx=%22886.672%22 cy=%22517.089%22 rx=%221.509%22 ry=%221.385%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.009%22%2F%3E%3Cellipse cx=%22968.219%22 cy=%22514.47%22 rx=%221.805%22 ry=%221.373%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.657%22%2F%3E%3Cellipse cx=%221307.854%22 cy=%22531.032%22 rx=%222.079%22 ry=%221.891%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.73%22%2F%3E%3Cellipse cx=%221376.913%22 cy=%22512.672%22 rx=%221.388%22 ry=%221.112%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.697%22%2F%3E%3Cellipse cx=%221664.084%22 cy=%22522.561%22 rx=%221.627%22 ry=%221.244%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.588%22%2F%3E%3Cellipse cx=%221952.776%22 cy=%22532.492%22 rx=%221.502%22 ry=%221.076%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22-.03%22%2F%3E%3Cellipse cx=%2277.536%22 cy=%22582.352%22 rx=%221.573%22 ry=%221.337%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.46%22%2F%3E%3Cellipse cx=%22407.147%22 cy=%22584.018%22 rx=%221.85%22 ry=%221.833%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22-.284%22%2F%3E%3Cellipse cx=%22624.337%22 cy=%22579.925%22 rx=%221.225%22 ry=%221.138%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.569%22%2F%3E%3Cellipse cx=%22744.133%22 cy=%22550.436%22 rx=%222.024%22 ry=%221.764%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22-.076%22%2F%3E%3Cellipse cx=%221085.155%22 cy=%22566.879%22 rx=%221.253%22 ry=%221.133%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.273%22%2F%3E%3Cellipse cx=%221256.358%22 cy=%22602.431%22 rx=%222.206%22 ry=%221.937%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.676%22%2F%3E%3Cellipse cx=%221363.584%22 cy=%22569.619%22 rx=%221.976%22 ry=%221.85%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.519%22%2F%3E%3Cellipse cx=%221640.98%22 cy=%22597.035%22 rx=%221.191%22 ry=%221.015%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22-.044%22%2F%3E%3Cellipse cx=%221792.549%22 cy=%22605.639%22 rx=%221.746%22 ry=%221.374%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.754%22%2F%3E%3Cellipse cx=%22199.117%22 cy=%22633.596%22 rx=%221.98%22 ry=%221.602%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.584%22%2F%3E%3Cellipse cx=%22366.777%22 cy=%22664.105%22 rx=%221.581%22 ry=%221.133%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.394%22%2F%3E%3Cellipse cx=%22514.884%22 cy=%22616.685%22 rx=%221.147%22 ry=%221.109%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.104%22%2F%3E%3Cellipse cx=%22786.239%22 cy=%22659.114%22 rx=%221.518%22 ry=%221.277%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.828%22%2F%3E%3Cellipse cx=%221071.864%22 cy=%22665.206%22 rx=%221.409%22 ry=%221.265%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.415%22%2F%3E%3Cellipse cx=%221139.576%22 cy=%22667.447%22 rx=%221.844%22 ry=%221.667%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.587%22%2F%3E%3Cellipse cx=%221380.726%22 cy=%22622.073%22 rx=%221.975%22 ry=%221.653%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.919%22%2F%3E%3Cellipse cx=%221580.471%22 cy=%22665.779%22 rx=%221.335%22 ry=%221.318%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.16%22%2F%3E%3Cellipse cx=%221997.277%22 cy=%22631.534%22 rx=%221.665%22 ry=%221.544%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.6%22%2F%3E%3Cellipse cx=%2293.548%22 cy=%22698.204%22 rx=%221.613%22 ry=%221.471%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.158%22%2F%3E%3Cellipse cx=%22223.937%22 cy=%22678.106%22 rx=%222.356%22 ry=%221.915%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.775%22%2F%3E%3Cellipse cx=%22646.023%22 cy=%22672.912%22 rx=%222.279%22 ry=%221.783%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22-.228%22%2F%3E%3Cellipse cx=%22726.976%22 cy=%22727.962%22 rx=%222.133%22 ry=%221.667%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.725%22%2F%3E%3Cellipse cx=%22944.441%22 cy=%22700.955%22 rx=%221.438%22 ry=%221.116%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.18%22%2F%3E%3Cellipse cx=%221251.017%22 cy=%22673.833%22 rx=%221.688%22 ry=%221.686%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22-.101%22%2F%3E%3Cellipse cx=%221435.333%22 cy=%22715.661%22 rx=%221.41%22 ry=%221.032%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.1%22%2F%3E%3Cellipse cx=%221723.105%22 cy=%22683.002%22 rx=%221.275%22 ry=%221.014%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.612%22%2F%3E%3Cellipse cx=%221867.592%22 cy=%22701.535%22 rx=%221.565%22 ry=%221.182%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.773%22%2F%3E%3Cellipse cx=%2220.166%22 cy=%22734.981%22 rx=%221.462%22 ry=%221.388%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.14%22%2F%3E%3Cellipse cx=%22248.969%22 cy=%22749.676%22 rx=%221.309%22 ry=%221.155%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.394%22%2F%3E%3Cellipse cx=%22504.076%22 cy=%22782.879%22 rx=%221.667%22 ry=%221.403%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.498%22%2F%3E%3Cellipse cx=%22686.247%22 cy=%22743.015%22 rx=%221.23%22 ry=%221.08%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.607%22%2F%3E%3Cellipse cx=%221001.791%22 cy=%22739.711%22 rx=%221.506%22 ry=%221.039%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22-.261%22%2F%3E%3Cellipse cx=%221315.816%22 cy=%22791.286%22 rx=%221.205%22 ry=%221.002%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.582%22%2F%3E%3Cellipse cx=%221403.568%22 cy=%22784.948%22 rx=%221.18%22 ry=%221.146%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.329%22%2F%3E%3Cellipse cx=%221751.589%22 cy=%22742.243%22 rx=%221.643%22 ry=%221.569%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.877%22%2F%3E%3Cellipse cx=%221802.497%22 cy=%22783.266%22 rx=%221.332%22 ry=%221.319%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.411%22%2F%3E%3Cellipse cx=%2236.788%22 cy=%22826.495%22 rx=%221.561%22 ry=%221.539%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22-.123%22%2F%3E%3Cellipse cx=%22443.108%22 cy=%22814.887%22 rx=%221.476%22 ry=%221.168%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22-.115%22%2F%3E%3Cellipse cx=%22572.957%22 cy=%22830.638%22 rx=%221.858%22 ry=%221.621%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.795%22%2F%3E%3Cellipse cx=%22799.711%22 cy=%22793.973%22 rx=%222.058%22 ry=%221.929%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.624%22%2F%3E%3Cellipse cx=%22971.467%22 cy=%22796.517%22 rx=%221.421%22 ry=%221.173%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.483%22%2F%3E%3Cellipse cx=%221217.14%22 cy=%22796.179%22 rx=%221.244%22 ry=%221.226%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.784%22%2F%3E%3Cellipse cx=%221534.785%22 cy=%22813.617%22 rx=%221.684%22 ry=%221.548%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.63%22%2F%3E%3Cellipse cx=%221706.386%22 cy=%22816.374%22 rx=%221.515%22 ry=%221.306%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.193%22%2F%3E%3Cellipse cx=%221922.332%22 cy=%22847.491%22 rx=%221.191%22 ry=%221.13%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.375%22%2F%3E%3Cellipse cx=%2291.675%22 cy=%22871.324%22 rx=%222.037%22 ry=%221.885%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.378%22%2F%3E%3Cellipse cx=%22326.714%22 cy=%22908.773%22 rx=%221.779%22 ry=%221.73%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.42%22%2F%3E%3Cellipse cx=%22493.524%22 cy=%22864.023%22 rx=%221.743%22 ry=%221.456%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.707%22%2F%3E%3Cellipse cx=%22788.422%22 cy=%22865.913%22 rx=%221.498%22 ry=%221.256%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.621%22%2F%3E%3Cellipse cx=%22919.944%22 cy=%22886.151%22 rx=%222.282%22 ry=%221.843%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.792%22%2F%3E%3Cellipse cx=%221110.393%22 cy=%22872.613%22 rx=%221.535%22 ry=%221.287%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.802%22%2F%3E%3Cellipse cx=%221412.936%22 cy=%22864.837%22 rx=%222.236%22 ry=%221.848%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.163%22%2F%3E%3Cellipse cx=%221577.145%22 cy=%22899.332%22 rx=%222.333%22 ry=%221.86%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.684%22%2F%3E%3Cellipse cx=%221838.741%22 cy=%22870.88%22 rx=%222.025%22 ry=%221.716%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.443%22%2F%3E%3Cellipse cx=%22109.118%22 cy=%22972.43%22 rx=%221.405%22 ry=%221.099%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.049%22%2F%3E%3Cellipse cx=%22364.278%22 cy=%22934.843%22 rx=%222.101%22 ry=%221.631%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.665%22%2F%3E%3Cellipse cx=%22577.343%22 cy=%22933.407%22 rx=%221.784%22 ry=%221.774%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.508%22%2F%3E%3Cellipse cx=%22857.704%22 cy=%22934.735%22 rx=%221.895%22 ry=%221.879%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.238%22%2F%3E%3Cellipse cx=%221057.57%22 cy=%22966.553%22 rx=%221.719%22 ry=%221.427%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.51%22%2F%3E%3Cellipse cx=%221322.497%22 cy=%22943.176%22 rx=%221.434%22 ry=%221.365%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.212%22%2F%3E%3Cellipse cx=%221432.904%22 cy=%22920.388%22 rx=%221.411%22 ry=%221.039%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.82%22%2F%3E%3Cellipse cx=%221697.533%22 cy=%22965.266%22 rx=%221.645%22 ry=%221.308%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.846%22%2F%3E%3Cellipse cx=%221793.53%22 cy=%22942.674%22 rx=%222.146%22 ry=%221.941%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.486%22%2F%3E%3Cellipse cx=%2210.662%22 cy=%221031.722%22 rx=%221.775%22 ry=%221.731%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.142%22%2F%3E%3Cellipse cx=%22303.442%22 cy=%22976.143%22 rx=%221.27%22 ry=%221.141%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.851%22%2F%3E%3Cellipse cx=%22452.966%22 cy=%221021.608%22 rx=%221.679%22 ry=%221.395%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.07%22%2F%3E%3Cellipse cx=%22828.639%22 cy=%22978.602%22 rx=%221.671%22 ry=%221.526%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.565%22%2F%3E%3Cellipse cx=%221024.878%22 cy=%221010.25%22 rx=%221.495%22 ry=%221.337%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.599%22%2F%3E%3Cellipse cx=%221141.15%22 cy=%221002.476%22 rx=%221.691%22 ry=%221.514%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.241%22%2F%3E%3Cellipse cx=%221429.221%22 cy=%22996.119%22 rx=%221.836%22 ry=%221.378%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.61%22%2F%3E%3Cellipse cx=%221713.95%22 cy=%22995.765%22 rx=%221.892%22 ry=%221.744%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22-.119%22%2F%3E%3Cellipse cx=%221990.821%22 cy=%221012.172%22 rx=%221.419%22 ry=%221.179%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22-.187%22%2F%3E%3Cellipse cx=%2222.081%22 cy=%221081.666%22 rx=%221.571%22 ry=%221.39%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.644%22%2F%3E%3Cellipse cx=%22403.947%22 cy=%221062.009%22 rx=%221.345%22 ry=%221.225%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22-.18%22%2F%3E%3Cellipse cx=%22585.076%22 cy=%221037.808%22 rx=%221.684%22 ry=%221.336%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.425%22%2F%3E%3Cellipse cx=%22729.055%22 cy=%221046.373%22 rx=%222.422%22 ry=%221.985%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.417%22%2F%3E%3Cellipse cx=%221039.941%22 cy=%221056.7%22 rx=%221.719%22 ry=%221.307%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.299%22%2F%3E%3Cellipse cx=%221129.028%22 cy=%221043.798%22 rx=%221.075%22 ry=%221.001%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.842%22%2F%3E%3Cellipse cx=%221396.798%22 cy=%221061.17%22 rx=%222.139%22 ry=%221.861%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.775%22%2F%3E%3Cellipse cx=%221644.03%22 cy=%221040.88%22 rx=%222.062%22 ry=%221.941%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.633%22%2F%3E%3Cellipse cx=%221953.601%22 cy=%221093.733%22 rx=%221.262%22 ry=%221.222%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.45%22%2F%3E%3Cellipse cx=%22106.928%22 cy=%221133.643%22 rx=%221.49%22 ry=%221.424%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22-.082%22%2F%3E%3Cellipse cx=%22243.139%22 cy=%221145.452%22 rx=%221.985%22 ry=%221.77%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.765%22%2F%3E%3Cellipse cx=%22486.169%22 cy=%221123.527%22 rx=%221.708%22 ry=%221.289%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.796%22%2F%3E%3Cellipse cx=%22864.431%22 cy=%221120.948%22 rx=%221.578%22 ry=%221.536%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.545%22%2F%3E%3Cellipse cx=%221101.545%22 cy=%221158.85%22 rx=%221.46%22 ry=%221.265%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.063%22%2F%3E%3Cellipse cx=%221250.109%22 cy=%221154.005%22 rx=%221.678%22 ry=%221.421%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.29%22%2F%3E%3Cellipse cx=%221370.006%22 cy=%221121.501%22 rx=%222.033%22 ry=%221.55%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.15%22%2F%3E%3Cellipse cx=%221623.654%22 cy=%221135.772%22 rx=%221.778%22 ry=%221.371%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.154%22%2F%3E%3Cellipse cx=%221992.581%22 cy=%221147.371%22 rx=%222.347%22 ry=%221.938%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.479%22%2F%3E%3Cellipse cx=%22207.874%22 cy=%221170.073%22 rx=%221.426%22 ry=%221.194%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.527%22%2F%3E%3Cellipse cx=%22310.22%22 cy=%221218.336%22 rx=%221.618%22 ry=%221.124%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.183%22%2F%3E%3Cellipse cx=%22619.369%22 cy=%221186.649%22 rx=%221.75%22 ry=%221.74%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.007%22%2F%3E%3Cellipse cx=%22806.249%22 cy=%221204.473%22 rx=%222.009%22 ry=%221.875%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.429%22%2F%3E%3Cellipse cx=%22965.756%22 cy=%221187.824%22 rx=%221.148%22 ry=%221.141%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.066%22%2F%3E%3Cellipse cx=%221206.333%22 cy=%221162.411%22 rx=%222.223%22 ry=%221.877%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.096%22%2F%3E%3Cellipse cx=%221447.489%22 cy=%221169.509%22 rx=%222.176%22 ry=%221.901%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.448%22%2F%3E%3Cellipse cx=%221734.757%22 cy=%221201.868%22 rx=%221.988%22 ry=%221.827%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.556%22%2F%3E%3Cellipse cx=%221850.562%22 cy=%221208.484%22 rx=%221.739%22 ry=%221.451%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22-.156%22%2F%3E%3Cellipse cx=%2213.725%22 cy=%221278.083%22 rx=%221.689%22 ry=%221.446%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.182%22%2F%3E%3Cellipse cx=%22261.221%22 cy=%221220.664%22 rx=%221.113%22 ry=%221.008%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22-.025%22%2F%3E%3Cellipse cx=%22625.573%22 cy=%221226.385%22 rx=%221.395%22 ry=%221.006%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.423%22%2F%3E%3Cellipse cx=%22829.91%22 cy=%221270.297%22 rx=%221.906%22 ry=%221.466%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.756%22%2F%3E%3Cellipse cx=%22925.342%22 cy=%221223.687%22 rx=%221.956%22 ry=%221.629%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.65%22%2F%3E%3Cellipse cx=%221260.14%22 cy=%221221.62%22 rx=%222.025%22 ry=%221.581%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.209%22%2F%3E%3Cellipse cx=%221411.561%22 cy=%221244.502%22 rx=%222.053%22 ry=%221.813%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.183%22%2F%3E%3Cellipse cx=%221619.523%22 cy=%221277.219%22 rx=%221.962%22 ry=%221.683%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22-.088%22%2F%3E%3Cellipse cx=%221831.241%22 cy=%221220.438%22 rx=%222.161%22 ry=%221.803%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.186%22%2F%3E%3Cellipse cx=%22116.136%22 cy=%221305.428%22 rx=%221.385%22 ry=%221.213%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.62%22%2F%3E%3Cellipse cx=%22418.797%22 cy=%221333.471%22 rx=%221.326%22 ry=%221.027%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22-.208%22%2F%3E%3Cellipse cx=%22539.072%22 cy=%221281.769%22 rx=%222.194%22 ry=%221.819%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.128%22%2F%3E%3Cellipse cx=%22813.096%22 cy=%221318.54%22 rx=%222.159%22 ry=%221.832%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.08%22%2F%3E%3Cellipse cx=%221104.172%22 cy=%221286.657%22 rx=%221.542%22 ry=%221.096%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22-.092%22%2F%3E%3Cellipse cx=%221214.712%22 cy=%221334.446%22 rx=%221.502%22 ry=%221.29%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.592%22%2F%3E%3Cellipse cx=%221351.953%22 cy=%221314.777%22 rx=%222.121%22 ry=%221.817%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.648%22%2F%3E%3Cellipse cx=%221649.759%22 cy=%221340.778%22 rx=%221.92%22 ry=%221.589%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.497%22%2F%3E%3Cellipse cx=%221991.728%22 cy=%221333.484%22 rx=%221.519%22 ry=%221.354%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.363%22%2F%3E%3Cellipse cx=%22135.503%22 cy=%221374.789%22 rx=%221.213%22 ry=%221.129%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.627%22%2F%3E%3Cellipse cx=%22405.505%22 cy=%221358.035%22 rx=%221.738%22 ry=%221.374%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22-.02%22%2F%3E%3Cellipse cx=%22789.412%22 cy=%221394.045%22 rx=%221.953%22 ry=%221.681%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.361%22%2F%3E%3Cellipse cx=%22923.324%22 cy=%221359.195%22 rx=%222.192%22 ry=%221.952%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.806%22%2F%3E%3Cellipse cx=%221255.121%22 cy=%221379.644%22 rx=%221.702%22 ry=%221.216%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.496%22%2F%3E%3Cellipse cx=%221508.015%22 cy=%221378.484%22 rx=%222.378%22 ry=%221.973%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.717%22%2F%3E%3Cellipse cx=%221617.781%22 cy=%221361.486%22 rx=%222.195%22 ry=%221.949%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.74%22%2F%3E%3Cellipse cx=%221846.784%22 cy=%221385.657%22 rx=%221.442%22 ry=%221.03%22 fill=%22rgba(230%2C230%2C230%2C1)%22 opacity=%22.066%22%2F%3E%3Cg transform=%22rotate(-58.916 1587.06 -1290.671)%22%3E%3Cdefs%3E%3ClinearGradient id=%22a%22 x1=%220%22 y1=%221%22 x2=%22210.996%22 y2=%221%22 gradientUnits=%22userSpaceOnUse%22%3E%3Cstop stop-color=%22rgba(39%2C94%2C254%2C1)%22%2F%3E%3Cstop offset=%22.3%22 stop-color=%22%2327fefd%22 stop-opacity=%22.1%22%2F%3E%3Cstop offset=%22.7%22 stop-color=%22%2327fefd%22 stop-opacity=%220%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Crect width=%22126.598%22 height=%223.1%22 rx=%223.1%22 ry=%223.1%22 fill=%22url(%23a)%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  }

.grid-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    align-items: center;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    justify-items: center;
    margin: 1rem 0;
}

.footerinfo {
    margin-bottom: 1rem;
}

/* Largest devices such as desktops (1280px) */
@media only screen and (max-width: 80em) {

}

/* Large devices such as laptops (1024px) */
@media only screen and (max-width: 64em) {
    
}

/* Medium devices such as tablets (718px) */
@media only screen and (max-width: 718px) {
}

@media only screen and (max-width: 40em) {
    #placeholder,  #placeholder canvas {
        width: 88vw;
        height: 88vw;
    }

    .grid-2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .v1 {
        padding: 1rem;
    }
    
    .v9 {
        padding: 1rem;
    }

    .footerinfo {
        margin-bottom: 0;
    }

    h1 {
        font-size: 1rem;
    }
}